@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn::after {
  content: "";
  height: 2px;
  display: flex;
  background-color: #005377;
  transition: all 0.3s ease-in-out;
  width: 0;
}

.nav-btn:hover::after {
  animation: hover-nav 0.3s ease-in-out forwards;
}

/* Width increase on hover  (Animation)*/
@keyframes hover-nav {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }

}

@media screen and (max-width: 1080px) {
  .center-grid {
    grid-area: 1/1/2/2;
  }
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: solid #005377 1px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

#servicos {
  background-image: linear-gradient(180deg, #005377 0%, #154256 35.94%, #142A35 66.15%, #142025 100%);
}

.pulsing {
  animation: pump 3s infinite;
}


@keyframes pump {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  backdrop-filter: blur(8px);
  z-index: 10000;
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  max-height: 90vh;
  padding: 25px;
  max-width: 80vw;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 10001;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  position: absolute;
  top: 10px;
  right: 10px;
}



.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  color: var(--primary);
  width: 90px;
  text-align: right;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--primary);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: 768px) {
  #map>div {
    height: 100% !important;
  }
}

#contato {
  box-shadow: 0 0 8px 0px #00000080;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

textarea {
  resize: none;
}

select option {
  background-color: rgb(0, 52, 88);
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.card-shadow {
  box-shadow: 0 1px 8px 2px #00000050;
}

.large-shadow {
  box-shadow: 0 0 8px 2px #00000060;
}

.large-drop-shadow {
  filter: drop-shadow(2px 2px 4px #00000090);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

.gmnoprint {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
ul,
ol,
button,
input,
textarea,
label,
select,
option,
fieldset {
  font-family: 'Urbanist', sans-serif;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0);
  }

}

.slide-left {
  animation: .75s ease-out 0s 1 slideInFromRight;
}

.slide-bottom {
  animation: 0.5s ease-out 0s 1 slideInFromTop;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}


.dropdown-container {
  border: none!important;
}

.fc-day-today{
  background-color: #2491c0!important;
  color: #fff;
}


.fc-timegrid-event-harness.fc-timegrid-event-harness-inset{
  min-height: 48px;
}

.fc-event-time{
  font-size: 14px!important;
  font-weight: 700!important;
  color: #fff;
}


.fc-timegrid-now-indicator-arrow{
  border-left-color: #000!important;
}
.fc-timegrid-now-indicator-line{
  border-color: #000!important;
}

.fc-non-business{
  background-color: #00000050!important;
}

.fc-non-business::after{
  content: "Fechado";
  color: #000;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fc-event-time,
.fc-event-title-container{
  /* drop shadow */
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}


.fc-event-title-container{
  font-weight: 700;
}

.fc-timegrid-event-harness,
.fc-event,
.fc-event-main{
  border: none!important;
}
.fc-day .fc-scrollgrid-sync-inner a{
  text-transform: capitalize;
}
.fc-day-today .fc-scrollgrid-sync-inner a::after{
  content: " (Hoje)";
}

.fc .fc-timegrid-slot{
  border: none!important
}


.dark{
  & .fc-non-business{
    background-color: #ffffff50!important;
  }
  
  & .fc-non-business::after{
    content: "Fechado";
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & .fc-timegrid-now-indicator-line{
    border-color: #fff!important;
  }

  & .fc-timegrid-now-indicator-arrow{
    border-left-color: #fff!important;
  }

  & .dropdown-heading {
    background-color: transparent;
    color: #fff;
  }

  & .dropdown-container {
    background-color: #ffffff00!important;
    border: none!important;
  }
  
  & .dropdown-content *{
    background-color: #000!important;
    color: #fff;
  }
  
  & .fc-timegrid-slot-lane{
    border: 1px solid #fff!important;
  }
  
  & .fc .fc-timegrid-slot{
    border: none!important
  }

  & .fc-button-primary{
    background-color: #222!important;
    color: #000;
    border: 1px solid #000!important;
  }

  
  /* Track */
  & ::-webkit-scrollbar-track {
    background: #000;
  }
  
  /* Handle */
  & ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  & ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  

}

.fc-button-group button{
  margin: 0 5px!important;
}

.fc-toolbar-title{
  text-transform: capitalize; 
}
.fc .fc-bg-event{
  opacity: 1!important;
}